main {
  padding: 4.6875rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden ;
}

main img:first-child{
  width: 100%;
  margin: 0 auto;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  column-gap: 15px;
  background-color:  #f8f9f5;
  padding: 4rem;
  font-family:"Poppins", Arial, Helvetica, sans-serif;
}
.container div{
  width: 50%;
}
.container h4{
  font-size: 22pt;
  margin-bottom: 30px;
  color: rgb(46, 70, 52);
  font-weight: 700;
  position: relative;
}
.container img{
  border-radius: 10px;
}

@media screen and (width < 700px){
  .container{
    flex-direction: column;
    
  }
  .container p {
    width: 90%;
    margin-bottom: 4rem;
  }
}