:root {
  --verde-escuro: #2f5320;
  --verde-oliva: #8da35d;
  --cinza-medio: #b5baba;
  --cinza-claro: #eae8e7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}
